body {
  font-family: 'Oxanium', cursive;
  background-image: url(../assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: brightness(.2);
  color: #FFF;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  height: 15px;
}

.header img {
  height: 90%;
}

.character-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-inline: 20px;
  min-height: calc(100vh - 100px);
}

.characters {
  max-width: 585px;
}

.characters .select-title {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid #47F4FF;
}

.characters .character-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-block: 25px;
}

.characters .character-list .character {
  transition: .3s;
}

.characters .character-list .character.selected {
  box-shadow: 0px 0px 24px 5px #0271F7;
}

.selected-character {
  min-width: 400px;
  width: 40%;
  max-width: 430px;
}

.selected-character .focused-character {
  width: 100%;
}

.selected-character .character-name {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid #47F4FF;
  margin-bottom: 15px;
}

.selected-character .character-description {
  line-height: 22px;
  text-align: center;
}

@media screen and (min-height: 666px) {
  .character-selection {
    height: calc(100vh - 15%);
  }
}

@media screen and (max-width: 750px) {
  .character-selection {
    flex-direction: column;
  }
}